In [29]:
import pandas as pd
import numpy as np

""" 二维表格数据，索引分为两个维度 """

' 二维表格数据，索引分为两个维度 '

# 数据创建

## 一维数组创建

In [30]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = pd.DataFrame(
    data, index=["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"], columns=["A"]
)
print(df)

    A
a   1
b   2
c   3
d   4
e   5
f   6
g   7
h   8
i   9
j  10

## 列表创建

In [31]:
data = [["Alex", 12], ["Bob", 15], ["Clarke", 14]]
df = pd.DataFrame(data, index=["a", "b", "c"], columns=["Name", "Age"])
print(df)

     Name  Age
a    Alex   12
b     Bob   15
c  Clarke   14

## 字典创建

In [32]:
# 没有值为NaN
data = [{"a": 1, "b": 2}, {"a": 3, "b": 5, "c": 7}]
df = pd.DataFrame(data)
print(df)

data = {"Name": ["Alex", "Bob", "Clark"], "Age": [12, 13, 14]}
df = pd.DataFrame(data, index=["S01", "S02", "S03"])
print(df)

   a  b    c
0  1  2  NaN
1  3  5  7.0
      Name  Age
S01   Alex   12
S02    Bob   13
S03  Clark   14

In [33]:
data = {
    "one": pd.Series([1, 2, 3], index=["a", "c", "d"]),
    "two": pd.Series([1, 2, 3, 4], index=["e", "f", "g", "h"]),
}
df = pd.DataFrame(data)
print(df)

   one  two
a  1.0  NaN
c  2.0  NaN
d  3.0  NaN
e  NaN  1.0
f  NaN  2.0
g  NaN  3.0
h  NaN  4.0

# property

In [34]:
print(df.index)
print(df.columns)
print(df.values)
print(df.head(2))
print(df.tail(2))

Index(['a', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
Index(['one', 'two'], dtype='object')
[[ 1. nan]
 [ 2. nan]
 [ 3. nan]
 [nan  1.]
 [nan  2.]
 [nan  3.]
 [nan  4.]]
   one  two
a  1.0  NaN
c  2.0  NaN
   one  two
g  NaN  3.0
h  NaN  4.0

# 操作 dataFrame 的操作

## 列操作

### 读取列

In [35]:
d = {
    "one": pd.Series([1, 2, 3], index=["a", "b", "c"]),
    "two": pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"]),
    "three": pd.Series([1, 3, 4], index=["a", "c", "d"]),
}
df = pd.DataFrame(d)
print(df)
print(df["one"])
print(df[["one", "three"]])
print(df[df.columns[:2]])

   one  two  three
a  1.0    1    1.0
b  2.0    2    NaN
c  3.0    3    3.0
d  NaN    4    4.0
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  three
a  1.0    1.0
b  2.0    NaN
c  3.0    3.0
d  NaN    4.0
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

### 添加列

In [36]:
print(df)
df["four"] = pd.Series([1, 2, 3], index=["b", "c", "d"])
print(df)

   one  two  three
a  1.0    1    1.0
b  2.0    2    NaN
c  3.0    3    3.0
d  NaN    4    4.0
   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0

### 删除列

In [37]:
print(df)
df2 = df.drop(["one", "two"], axis=1)
print(df2)

   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
   three  four
a    1.0   NaN
b    NaN   1.0
c    3.0   2.0
d    4.0   3.0

## 行操作

### 访问行

In [38]:
print(df)
print(df[1:3])
print(df["b":"d"])
print(df[1:2])
# 行标签访问
print(df.loc[["a", "c"]])
# 行索引访问
print(df.iloc[[1, 3]])

   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
   one  two  three  four
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
   one  two  three  four
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
   one  two  three  four
b  2.0    2    NaN   1.0
   one  two  three  four
a  1.0    1    1.0   NaN
c  3.0    3    3.0   2.0
   one  two  three  four
b  2.0    2    NaN   1.0
d  NaN    4    4.0   3.0

### 添加行

In [39]:
df = pd.concat([df,pd.DataFrame({"one": [1, 2], "two": [3, 4]},index=["e", "f"])])
print(df)

   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
e  1.0    3    NaN   NaN
f  2.0    4    NaN   NaN

### 删除行

In [40]:
print(df)
print(df.drop('d'))
print(df.drop(['a', 'b']))

   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
e  1.0    3    NaN   NaN
f  2.0    4    NaN   NaN
   one  two  three  four
a  1.0    1    1.0   NaN
b  2.0    2    NaN   1.0
c  3.0    3    3.0   2.0
e  1.0    3    NaN   NaN
f  2.0    4    NaN   NaN
   one  two  three  four
c  3.0    3    3.0   2.0
d  NaN    4    4.0   3.0
e  1.0    3    NaN   NaN
f  2.0    4    NaN   NaN

# 复合索引

In [41]:
# 生成一个6行3列的随机数组，并将其转换为DataFrame
data = np.floor(np.random.normal(85, 3, (6,3)))
df = pd.DataFrame(data)
# 打印DataFrame
print(df)
# 创建一个元组列表，用于设置DataFrame的索引
index = [('classA', 'F'), ('classA', 'M'), ('classB', 'F'), ('classB', 'M'), ('classC', 'F'), ('classC', 'M')]
df.index = pd.MultiIndex.from_tuples(index)
# 打印DataFrame
print(df)
# 创建一个元组列表，用于设置DataFrame的列
columns = [('Age', '20+'), ('Age', '30+'), ('Age', '40+')]
df.columns = pd.MultiIndex.from_tuples(columns)
# 打印DataFrame
print(df)

      0     1     2
0  81.0  84.0  79.0
1  85.0  83.0  88.0
2  85.0  87.0  78.0
3  87.0  88.0  88.0
4  81.0  85.0  87.0
5  86.0  85.0  88.0
             0     1     2
classA F  81.0  84.0  79.0
       M  85.0  83.0  88.0
classB F  85.0  87.0  78.0
       M  87.0  88.0  88.0
classC F  81.0  85.0  87.0
       M  86.0  85.0  88.0
           Age
           20+   30+   40+
classA F  81.0  84.0  79.0
       M  85.0  83.0  88.0
classB F  85.0  87.0  78.0
       M  87.0  88.0  88.0
classC F  81.0  85.0  87.0
       M  86.0  85.0  88.0

## 行检索

In [42]:

print(df)
print(df.loc['classA'])
print(df.loc[['classA', 'classC']])
print(df.loc['classA', 'M'])
# ClassA M 行中Age 40+ 的列
print(df.loc['classA', 'M']['Age', '40+'])

           Age
           20+   30+   40+
classA F  81.0  84.0  79.0
       M  85.0  83.0  88.0
classB F  85.0  87.0  78.0
       M  87.0  88.0  88.0
classC F  81.0  85.0  87.0
       M  86.0  85.0  88.0
    Age
    20+   30+   40+
F  81.0  84.0  79.0
M  85.0  83.0  88.0
           Age
           20+   30+   40+
classA F  81.0  84.0  79.0
       M  85.0  83.0  88.0
classC F  81.0  85.0  87.0
       M  86.0  85.0  88.0
Age  20+    85.0
     30+    83.0
     40+    88.0
Name: (classA, M), dtype: float64
88.0

## 列检索

In [44]:
print(df.Age)
print(df.Age['20+'])
print(df['Age']['20+'])
print(df['Age', '20+'])

           20+   30+   40+
classA F  81.0  84.0  79.0
       M  85.0  83.0  88.0
classB F  85.0  87.0  78.0
       M  87.0  88.0  88.0
classC F  81.0  85.0  87.0
       M  86.0  85.0  88.0
classA  F    81.0
        M    85.0
classB  F    85.0
        M    87.0
classC  F    81.0
        M    86.0
Name: 20+, dtype: float64
classA  F    81.0
        M    85.0
classB  F    85.0
        M    87.0
classC  F    81.0
        M    86.0
Name: 20+, dtype: float64
classA  F    81.0
        M    85.0
classB  F    85.0
        M    87.0
classC  F    81.0
        M    86.0
Name: (Age, 20+), dtype: float64